.card {
  /* background-color: lightcoral; */
  min-width: 15.6rem;
  /* width: 15.6rem; */
  /* height: 15.6rem; */
  min-height: 15.6rem;
  border-radius: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-image: radial-gradient(circle, #ffffff, #ffffff00);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pokemon {
  width: 10rem;
  height: auto;
}

.abilities {
  background-color: lightgreen;
  border-radius: 1rem;
}
